input[type="text"]
{
	width: 50%;
}
input[type="password"]
{
	width: 50%;
}
input[type="date"]
{
	width: 50%;
}
input[type="number"]
{
	width: 50%;
}
input[type="email"]
{
	width: 50%;
}
input[type="select"]
{
	width: 10%;
}